@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.matches-players {
	width: 100%;
	padding: 40px 80px;
	background-color: var(--theme-black);
	color: var(--theme-white);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 40px;

	@include responsive(phone) {
		padding: 40px 0;
		gap: 20px;
	}

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include responsive(phone) {
			padding: 0 20px;
		}

		&__title {
			@include responsive(phone) {
				display: none;
			}
		}

		&__logo {
			object-fit: contain;
			width: 100px;
			height: auto;
			cursor: pointer;
		}
	}

	&-heading {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: var(--theme-orange);

		@include responsive(phone) {
			padding: 0 20px;
		}
	}

	&-details {
		@include responsive(phone) {
			flex-direction: column-reverse;
		}
	}

	&-tabs {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 0.5px solid var(--theme-grey);

		@include responsive(phone) {
			width: calc(100% - 40px);
			margin: 0 20px;
		}

		&-tab {
			width: 50%;
			height: 100%;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			padding: 16px 0;
			position: relative;

			@include responsive(phone) {
				justify-content: center;
				text-align: center;
			}

			&--active::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: var(--theme-white);
				width: 50%;
				height: 1px;

				@include responsive(phone) {
					width: 100%;
				}
			}

			span {
				@include typography($size: xxl);

				@include responsive(phone) {
					@include typography($size: xl);
				}
			}
		}
	}

	&-content {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 12px;
		margin: 30px 0;

		&:last-child {
			color: var(--theme-grey);
		}

		@include responsive(phone) {
			padding: 0 20px;
		}
	}
}
