NEXT_PUBLIC_FRONTEND_BASE_URL={{ frontend_base_url }
NEXT_PUBLIC_BACKEND_BASE_URL={{ backend_base_url }}
NEXT_PUBLIC_APP_DB_URI={{ mongo_db_uri }}

# All the environment variables mentioned above are required for the application to run.

# Any environment variable should be prefixed with NEXT_PUBLIC_.
