@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.players-batsmen {
	width: 80%;

	&-table {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		gap: 12px;
	}

	&-player {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 12px 0;
		gap: 20px;
		border-bottom: 1px solid var(--theme-grey-1);
		cursor: pointer;

		&-dot {
			@include init-button();
			line-height: 100%;
			width: 1.25rem;
			height: 1.25rem;
			border-radius: 500px;
			flex: 0 0 auto;
			color: var(--theme-black);

			svg {
				pointer-events: none;
			}
		}

		&-content {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			flex: 0 1 auto;

			@include responsive(phone) {
				gap: 4px;
			}

			&__name {
				@include typography($size: md, $weight: bold);

				@include responsive(phone) {
					@include typography($size: lg, $weight: bold);
				}
			}

			&__role {
				color: var(--theme-grey);
				@include typography($size: sm);

				@include responsive(phone) {
					@include typography($size: md);
				}
			}
		}

		&-index {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			white-space: nowrap;
		}
	}
}
