.home-series-card {
	width: calc(100% - 20px);
	margin: 20px 0;
	aspect-ratio: 360 / 250;
	color: var(--theme-white);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	padding: 16px;
	gap: 4px;

	&:hover {
		padding: 32px 16px;
	}
}
