@import "@/styles/config/mixins";

.prediction-team {
	width: calc(100% - 30px);
	height: 440px;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	border: 1px solid;
	border-radius: 16px;

	@include responsive(phone) {
		margin: 12px 0;
		padding: 48px 0;
		gap: 16px;
		width: 100%;
		border-radius: 0;
		border-right: 0;
		border-left: 0;
	}

	&-item {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 8px;

		&-label {
			color: var(--theme-orange);
		}

		&-body {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 30px;

			&-box {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}

			&-separator {
				width: 1px;
				height: 30px;
				background-color: var(--theme-grey);
			}
		}
	}

	&-gradient {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-name {
		position: absolute;
		bottom: 0;
		left: 24px;
		opacity: 0.5;
		mix-blend-mode: overlay;
		z-index: 5;
	}
}
