@import "@/styles/config/mixins";

.prediction-stat-table {
	width: calc(100% - 20px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 40px;

	@include responsive(phone) {
		margin-top: 20px;
		overflow-x: auto;
	}

	&-name {
		color: var(--theme-orange);
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		white-space: nowrap;
		width: 100%;

		tr,
		th,
		td {
			border: 1px solid var(--theme-grey-1);
			border-collapse: collapse;
		}

		th {
			text-transform: uppercase;
			color: var(--theme-grey-1);
		}

		td,
		th {
			padding: 16px 10px;
			text-align: center;

			&:first-child {
				text-align: left;
			}
		}
	}
}
