@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.prediction-comparison {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	padding: 12px 0 12px 12px;

	@include responsive(phone) {
		padding: 12px 24px;
	}

	&-top {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;

		&-country {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 8px;
			white-space: nowrap;

			img {
				width: 50px;
				height: 33px;
				object-fit: cover;
				border-radius: 2px;
			}
		}

		&-slider {
			width: 100%;
			position: relative;
			height: 4px;
			border-radius: 500px;
			transform: translateY(-12px);

			&-seek {
				border-radius: 500px;
				padding: 4px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				z-index: 5;
				background-color: var(--theme-black);
				border: 2px solid;
			}
		}
	}

	&-matrix {
		width: 100%;
		aspect-ratio: 1 / 1;
		border: 0.5px solid var(--theme-grey);
		display: grid;
		grid-template-columns: 0.5fr 0.4fr 1.6fr 1.5fr;
		grid-template-rows: 0.5fr 0.4fr 1.4fr 1.7fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			". country-2 country-2 country-2"
			"country-1 . min-2 max-2"
			"country-1 max-1 c1-max-c2-min c1-max-c2-max"
			"country-1 min-1 c1-min-c2-min c1-min-c2-max";

		&-min-1 {
			grid-area: min-1;
			writing-mode: vertical-lr;
			transform: rotate(180deg);
		}

		&-min-2 {
			grid-area: min-2;
		}

		&-max-2 {
			grid-area: max-2;
		}

		&-max-1 {
			grid-area: max-1;
			writing-mode: vertical-lr;
			transform: rotate(180deg);
		}

		&-country-1 {
			grid-area: country-1;
			writing-mode: vertical-lr;
			transform: rotate(180deg);
		}

		&-country-2 {
			grid-area: country-2;
		}

		&-label {
			@include typography($size: s, $weight: medium);
		}

		&-value {
			@include typography($size: xxl, $weight: bold);
		}

		&-c1-max-c2-min {
			grid-area: c1-max-c2-min;
		}

		&-c1-max-c2-max {
			grid-area: c1-max-c2-max;
		}

		&-c1-min-c2-min {
			grid-area: c1-min-c2-min;
		}

		&-c1-min-c2-max {
			grid-area: c1-min-c2-max;
		}

		& > * {
			border: 0.5px solid var(--theme-grey);
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
}
