@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.home-matches {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	padding: 40px 80px;
	background: linear-gradient(180deg, transparent 0%, var(--theme-black) 10%);

	@include responsive(phone) {
		padding: 24px;
	}

	&-head {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-content {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 16px;
			color: var(--theme-white);

			&__title {
				@include typography($size: head-2, $weight: extra-bold);

				@include responsive(phone) {
					@include typography($size: xxl, $weight: bold);
				}
			}

			&__desc {
				color: var(--theme-grey-2);
			}
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
			color: var(--theme-white);
			text-decoration: underline;
		}
	}

	&-body {
		width: 100%;
	}
}
