@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.home-players-pane {
	width: calc(100% - 25px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	margin: 0 auto;

	&-table {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		gap: 12px;

		&-row {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 12px 0;
			gap: 20px;
			border-bottom: 1px solid var(--theme-grey-1);
			cursor: pointer;

			&-rank {
				width: 24px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				@include typography($size: md);

				@include responsive(phone) {
					@include typography($size: lg);
				}
			}

			&-name {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;
				flex: 0 1 auto;

				@include responsive(phone) {
					gap: 4px;
				}

				& > * {
					&:first-child {
						@include typography($size: s);

						@include responsive(phone) {
							@include typography($size: md);
						}
					}

					&:last-child {
						@include typography($size: xs);

						@include responsive(phone) {
							@include typography($size: sm);
						}
					}
				}
			}

			&-stat {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 4px;

				& > * {
					&:first-child {
						@include typography($size: s);

						@include responsive(phone) {
							@include typography($size: md);
						}
					}

					&:last-child {
						@include typography($size: xs);

						@include responsive(phone) {
							@include typography($size: sm);
						}

						color: var(--theme-grey);
					}
				}
			}
		}
	}
}
